<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ottt</title>

    <link rel="stylesheet" href="./css/myinfo.css" >
    <script src="./script/jquery-3.6.1.min.js"></script>
    <script src="./script/script.js"></script>
  </head>
  <body>
    <div class="wrap">
      <header>
        <div class="logo">
          <a href="../OTTT 메인, 검색/main.html">
            <img src="./images/logo/OTTT.png" alt="로고">
          </a>
        </div>
        <nav class="gnb">
          <ul>
            <li>
              <a href="../0413장르 폼테크추가(수형)/1. index movie.html">영화</a>
            </li>
            <li>
              <a href="../0413장르 폼테크추가(수형)/2. index darama.html">드라마</a>
            </li>
            <li>
              <a href="../0413장르 폼테크추가(수형)/3. index interest.html">예능</a>
            </li>
            <li>
              <a href="../0413장르 폼테크추가(수형)/4. index animation.html">애니</a>
            </li>
            <li>
              <a href="../자유게시판/자유게시판 main.html">게시판</a>
            </li>
          </ul>
        </nav>
        <div class="h-icon">
          <ul>
            <li>
              <a href="../OTTT 메인, 검색/search.html">
                <!-- <img src="./images/icon/search02.png" alt="검색"> -->
              </a>
            </li>
            <li>
              <a href="../mypage황정현/mypage.html">
                <!-- <img src="./images/icon/user01.png" alt="내 정보"> -->
              </a>
            </li>
          </ul>
        </div>
      </header>

      <section class="sec01">
        <form action="#" class="info-main">
          <div class="info">
            <label>이메일</label>
             <input type="text" placeholder="이메일" class="input-field" disabled="disabled"/>
          </div>

          <div class="info">
            <label>비밀번호</label>
            <input type="password" id="pwd" class="input-field" placeholder="비밀번호" autofocus="autofocus"/>
          </div>  

          <div class="info">
            <label>비밀번호 확인</label>
            <input type="password" id="repwd" class="input-field" placeholder="비밀번호 확인" />
          </div>
          <div class="button">
            <button class="cancle" type="button" onclick="">취소</button>
            <button class="done" type="button" onclick="">확인</button>
          </div>
        </form>
      </section>
    </div>
</body>
</html>
